/******************************************
/* SETUP
/*******************************************/

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
	text-decoration: none;
}

aside {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 20px;
}

aside.citation {
  clear: both;
  font-size: 16px;
}

body {
	background-color: #eee;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin: auto;
	text-align: center;
}

body.home {
	background-image: url("../images/bg/bg-flag.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: auto;
  	max-width: 100%;
}

button,
.submit {
	background-color: #70709c;
	color: #eee;
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	margin-top: 20px;
	max-width: 400px;
	padding: 16px 36px;
	text-decoration: none;
	text-transform: uppercase;
}

button:hover,
.submit:hover {
	background-color: #7e7eb0;
}

button.btn_question {
	margin: 0px 8px;
	padding: 20px 42px 12px 46px;
}

button.btn_next {
	padding: 16px 64px;
}

.info {
  cursor: pointer;
  margin-left: 8px;
  padding-top: 15px;
}

.share {
  cursor: pointer;
  margin-right: 8px;
  padding-top: 15px;
}

footer {
	align-items: center;
	background-color: #444;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 40px 0 0;
	text-align: center;
	width: 100%;
}

footer nav {
	max-width: 1280px;
	padding: 6px;
}

footer nav a {
	color: #eee;
	font-size: 14px;
	padding: 0 6px;
	text-decoration: none;
	text-transform: uppercase;
}

.form-item > * {
    width: 100%;
    padding: 10px;
}

.form-item {
	color: #444;
    margin: 10px auto;
    max-width: 800px;
    padding: 0 10px;
}

h1 {
	color: #eee;
	font-family: 'Bad Script', cursive;
	font-size: 24px;
	margin: 0;
}

h1.home {
  color: #eee;
  font-family: 'Bad Script', cursive;
  font-size: 36px;
  margin: 0 0 20px;
}

h1.inner {
  color: #eee;
  font-family: 'Bad Script', cursive;
  font-size: 24px;
  margin: 0px;
}

h2 {
  	font-size: 22px;
  	text-transform: uppercase;
}

header {
	background-color: #444;
	box-shadow: 0px 5px 0px black;
	width: 100%;
}

label.error {
	color: red;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

main,
section {
	text-align: center;
	margin: auto;
	width: 100%;
}

main.inner {
	background-color: rgba(68, 68, 68, 0.15);
  	margin-bottom: 36px;
}

main.inner_result {
  	/*background-image: url("../images/bios/bio-hillary.jpg");*/
  	background-position: top right;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color: #eee;
  	height: auto;
  	max-width: 100%;
}

main.inner_result h3,
main.inner_result h4,
main.inner_result p.candidate-quote {
  	color: #eee;
}

section.inner {
	max-width: 1280px;
 	min-height: 120px;
 	padding: 20px;
}

main article.inner {
	color: #444;
	margin: auto;
	max-width: 1280px;
	min-height: 260px;
	padding: 10px 20px;
	position: relative;
}

main article.primary {
	color: #eee;
	margin: 0;
	max-width: 1280px;
	min-height: 200px;
	padding: 10px 20px;
}

p.intro {
	font-size: 30px;
}

h3 {
  	font-size: 28px;
  	margin: 0;
  	text-align: left;
  	text-transform: uppercase;
}

h4 {
	font-size: 14px;
	margin: 0;
	text-align: left;
}

p.candidate-quote {
 	font-family: 'Raleway', sans-serif;
 	margin: 0;
 	position: absolute;
 	top: 50%;
 	transform: translate(0, -50%);
}

p.subtext {
	font-size: 18px;
}

p.suggest {
	margin: auto;
	max-width: 800px;
	padding: 0 10px;
}

section article.secondary {
	background-color: #eee;
	margin: 10px 0;
	opacity: 0.75;
	padding: 10px;
	width: 100%
}

section article.secondary:hover {
	opacity: 0.95;
}

section article.secondary a {
	color: #444;
  	text-decoration: none;
}

section.inner {
    margin: auto;
    min-height: 60px;
    padding: 0;
}

/******************************************
/* MEET THE CANDIDATES
/*******************************************/

ul {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  color: white;
  overflow: hidden;
  position: relative;
  width: 33.3%;
}

ul img {
  display: block;
  height: auto;
  width: 100%;
}

.popup {
  background-color: rgba(68,68,68,0.75);
  bottom: -20px;
  height: 90px;
  padding: 12px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

@-ms-viewport {
	width: device-width;
}

@media screen and (min-width: 768px) {
	aside {
		margin: auto;
	    max-width: 1280px;
  	}
 	button,
 	.submit {
		font-size: 30px;
		min-width: 240px;
		padding: 16px 36px;
	}
	button.btn_next, {
		min-width: 240px;

		padding: 16px 64px;
	}
	button.btn_question {
	    margin: 0px 12px;
	    padding: 20px 56px 12px 62px;
	}
	footer {
		bottom: 0px;
		margin: 40px 0 0;
		position: fixed;
	}
	footer nav a {
		font-size: 16px;
		padding: 0 40px;
	}
	.form-item {
    	padding: 0 20px;
	}

	h1 {
	    font-size: 36px;
	    margin: 0 0 48px;
	}
  	h1.home {
	    font-size: 58px;
	    margin: 0 0 40px;
	}
	h1.inner {
	    font-size: 36px;
	    margin: 0px 0px 48px;
	  }
	h2 {
	  	font-size: 30px;
	}
	main.home,
	section.home {
		align-items: center;
		display: flex;
		justify-content: space-between;
		max-width: 1280px;
	}
	main article.inner {
		min-height: 420px;
		padding: 30px;
	}
	main article.primary {
		min-height: 420px;
		margin: auto;
		padding: 30px;
	}
	p.intro {
		font-size: 48px;
	}
	h3 {
	  	font-size: 32px;
	}
	h4 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	p.candidate-quote {
		font-size: 36px;
	}
	p.subtext {
		font-size: 22px;
	}
	p.suggest {
		padding: 40px 20px;
	}
	section article.secondary {
		min-height: 180px;
		margin: 20px 20px 100px;
		padding: 30px;
		width: 50%;
	}
	section.inner {
	    margin: auto;
	    min-height: 360px;
	    padding: 20px;
  	}
  	.submit {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1280px) {
	h1.home {
		font-size: 72px;
	}
	main article.inner {
		min-height: 480px;
	}
	p.candidate-quote {
		font-size: 42px;
	}
}